@charset "UTF8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height:max-content;
    background-image:linear-gradient(to right,#734226, #BF926B,#8C6645);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    background-color: #EBEEF2;
    box-shadow: 10px 10px 10px #402312;
    border-radius: 15px;
    width:600px;
    padding:15px;
    margin:auto;
}
h1{
    font-family:'titulo', times, serif;
    background: #EBEEF2;
    box-shadow: 10px 10px 10px #402312;
    border-radius: 15px;
    width:600px;
    padding:15px;
    margin:auto;
    text-align: center;
}
article{
text-align: justify;  
text-indent: 20px;          
}
section{
    text-align: justify;
    text-indent: 20px;
}
#header{
    justify-content: center;
    align-items: center;
    display: flex;
}
:root{   /*variaves*/
    --cor1: #EBEEF2;
    --cor2: #8C6645;
    --cor3: #BF926B;
    --cor4: #402312;
    --cor5: #734226;
}
@font-face {
    font-family:'titulo';
    src: url('fontes/Cut\ the\ crap.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'texto' ;
    src: url(fontes/Pacifico-Regular.ttf)format('truetype');
}
@font-face {
    font-family: 'acinatura';
    src: url('fontes/ComforterBrush-Regular.ttf')format('truetype');
}
article{
    font-family: 'texto';
}
p{
    font-family: 'acinatura';
}
footer{
    color: #402312;
    text-align:center;
   font-weight: bolder;
    font-size: 3em;
    padding-left:35px;
  
}
  a{
    color: #EBEEF2;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 35px;
}
